{% extends 'frontend_layout.html' %}
<!---->
{% block title %}Login{% endblock %}
<!---->
{% block description %}MagmaCore secure login{% endblock %}
<!---->
{% block keywords %}login{% endblock %}
<!---->
{% block author %}Ricardo Miller{% endblock %}
<!---->
{% block page_header %} Sign in {% endblock %}
<!---->
{% block page_tagline %}{% endblock %}

<!-- start content-->
{% block content %}
<div>
    {{ $form }}
    <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <p class="">{@ locale('no_account') @}? <br>
            <a href="/register" class="uk-button uk-button-small uk-button-text uk-text-left">{@ locale('register')
                    @}</a>
        </p>
        <a class="uk-link uk-text-right" href="/password/forgot">{@ locale('forgotton_password') @}?</a>
    </div>
    <hr>
</div>
{% endblock %}