{% extends 'base.html.twig' %}

{% block content_title %}Login{% endblock %}
{% block main %}
	<div>
		<div uk-grid>
			<div class="uk-width-auto@m">
				{% set navs = {
					login: {title: 'Sign In', path: '#'},
					help: {title: 'Help', path: '#'},

				} %}
				<ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
					{% for index, nav in navs %}
						<li>
							<a href="{{ nav.path }}">{{ nav.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="uk-width-expand@m">
				<ul id="component-tab-left" class="uk-switcher">
					<li>
						<h1 class="uk-heading-small">Sign in</h1>
						<p></p>
						{{ form|raw }}
						<div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
                        <p class="uk-text-lead">Don't have an account?
                            <a href="/register" class="uk-button uk-button-small uk-button-text uk-display-block uk-text-left">Register</a>
                        </p>
						<a class="uk-link uk-text-right" href="/password/forgot">Forgotton your Password?</a>
						</div>
                        <hr>

					</li>
					<li>{% include '/client/profile/profile_history.html.twig' %}</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
