{% extends 'base.html.twig' %}

{% block content_title %}Signing Out
{% endblock %}
{% block main %}
	<div>
		<div uk-grid>
			<div class="uk-width-auto@m">
				{% set navs = {
					logout: {title: 'Signout', path: '#'},

				} %}
				<ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
					{% for index, nav in navs %}
						<li>
							<a href="{{ nav.path }}">{{ nav.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="uk-width-expand@m">
				<ul id="component-tab-left" class="uk-switcher">
					<li>
						<article class="uk-article">
							<h1 class="uk-article-title">You're about to sign out<br>sorry to see you go.</h1>

							<p class="uk-text-lead uk-margin-medium">
								{{ form|raw }}
								Or
								<a href="/profile/account/index" class="uk-button uk-button-text uk-text-primary">Cancel</a>.
							</p>
						</article>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
