{% extends 'frontend_layout.html' %}

<!-- Block title -->
{% block title %}Session Expired{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore your session has expired{% endblock %}
<!-- Block description -->
{% block keywords %}session expires{% endblock %}
<!-- Block description -->
{% block author %}{% endblock %}
<!--  -->
{% block page_header %}{@ locale('session_expired') @}!{% endblock %}
<!--  -->
{% block page_tagline %}{% endblock %}


<!-- start content-->
{% block content %}
<div>
    <p>Your session was expired. Because the application was left idling for too long. Click the login button below to login again</p>
    <a href="/login" class="uk-button uk-button-small uk-button-primary">{@ locale('login') @}</a>
</div>

{% endblock %}