<div id="notify-panel-flip" uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <h3>Notifications</h3>

    <div class="uk-overflow-auto uk-height-large">
    {% if (isset($controller)) : %}
      {% if ($controller->getAllNotifications() !==null) : %}
        <ul class="uk-list uk-list-striped">
          {% foreach ($controller->getAllUnreadNotifications() as $notify) : %}
            <li class="uk-text-meta">{{{ $notify['notify_title'] }}}
            <div><span>
              {% if (isset($notify['created_at']) && $notify['created_at'] !==null) : %}
              {@ formatDate($notify['created_at'], true) @} {% else : %} Never {% endif %}
            </span> <a href="/admin/notification/{{ $notify['id'] }}/edit"><ion-icon name="arrow-forward-circle-outline"></ion-icon></a> </div>
            </li>
          {% endforeach %}
        </ul>
      {% endif; %}
    {% endif %}
    </div>
    <div class="uk-position-bottom uk-padding-small">
      <div class="uk-card uk-card-body uk-position-center uk-padding-small-bottom">
        <ul class="uk-iconnav">
          <li><a class="uk-text-secondary ion-24" href="#" uk-tooltip="Turn off notifications"><ion-icon name="notifications-off-outline"></ion-icon></a></li>
          <li><a class="uk-text-secondary ion-24" href="#" uk-tooltip="Clear All"><ion-icon name="trash-outline"></ion-icon></a></li>
          <li><a class="uk-text-secondary ion-24" uk-tooltip="Settings"><ion-icon name="settings-outline"></ion-icon></a></li>
          <li><a class="uk-text-secondary ion-24 uk-link-reset" uk-tooltip="Manage Notifications" href="/admin/notification/index"><ion-icon name="notifications-circle-outline"></ion-icon></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>