{% extends 'layout.html' %}

<!-- title -->
{% block title %}Edit Project{% endblock %}
<!-- description -->
{% block description %}MagmaCore edit project{% endblock %}
<!-- keywords -->
{% block keywords %}edit-project, edit{% endblock %}

<!-- start content-->
{% block content %}
<section uk-grid class="uk-height-viewport">
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <turbo-frame id="project_form">
                        {{ $form }}
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-body uk-padding-remove">
                <div class="uk-margin">
                    <div class="uk-form-label"></div>
                    <div class="uk-form-controls">
                    </div>
                </div>

            </div>
        </div>
    </div>
    </form>

</section>

{% endblock %}
<!--  -->
{% block scripts %} {% endblock %}
