{% extends 'layout.html' %} {% block title %}Menu{% endblock %} {% block description %}MagmaCore menus{% endblock %} {% block keywords %}menu, menu-items{% endblock %} {% block author %}Ricardo Miller{% endblock %}

<!-- start content-->
{% block content %}
<form method="post" action="/admin/menu/bulk" data-turbo="false">
    <section class="uk-height-viewport">
        {@ templateExtension('uikit_simple_pagination') @}

        <div class="uk-width-expand@m">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        {% if ($total_records > 0) : %} {{ $table }} {% else : %} {% include 'admin/no_database_record.html' %} {% endif; %}
                    </div>
                </div>
                {@ templateExtension('uikit_pagination') @}
            </div>
        </div>
    </section>
</form>
{% endblock %}