{% extends layout.html %}

{% block title %}Home{% endblock %}
{% block description %}The home page{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="uk-width-expand@m">
    <ul id="component-tab-left" class="uk-switcher">
        <li>
            <article class="uk-article">
                <h1 class="uk-article-title">MagmaCore Framework</h1>
                <p class="uk-article-meta">Developed By
                    <a href="#"></a>
                    Current stable version
                    <a class="uk-text-primary uk-text-bolder" href="#"></a>
                </p>

                <p>
                    Straight out of the box you get built in user authentication and user role base management system. User friendly administration panel with dynamic table grid with full crud capabilities. Plus tons more features.
                        <div class="uk-margin-small">
                            <a href="/logout" class="uk-button uk-button-text uk-text-danger uk-text-bolder">Signout</a> -
                            <a href="/profile/account/index" class="uk-button uk-button-text uk-text-danger uk-text-bolder">My Account</a>
                            -
                            <a href="/admin/dashboard/index" class="uk-button uk-button-text uk-text-danger uk-text-bolder">Admin Panel</a>

                        </div>
                        <div class="uk-margin-small">
                            <a href="/login" class="uk-button uk-button-text uk-text-danger uk-text-bolder">Signin</a>
                    </p>
                </p>
            </article>
        </li>
        <li></li>
    </ul>
</div>

{% endblock %}

{% block js %}{% endblock %}
