{% extends 'layout.html' %}
{% block title %}Changelog{% endblock %} 
{% block description %}MagmaCore create permissions{% endblock %} 
{% block keywords %}{% endblock %} 
{% block author %}Ricardo Miller{% endblock %}

<!-- start content-->
{% block content %}
<form method="post" action="/admin/permission/bulk">

    <section uk-grid class="uk-height-viewport">
        <div class="uk-width-expand@m">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>
{% endblock %}