{% extends 'layout.html' %} {% block title %}Bulk Action{% endblock %} {% block description %}MagmaCore bulk action roles{% endblock %} {% block keywords %}bulk-action{% endblock %} {% block content %}
<section class="uk-height-viewport">

    <div class="uk-width-expand@m">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    {% include /admin/role/view_bulk_actions.html %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
<!--  -->
{% block js %} {% endblock %}