{% extends 'layout.html' %}

<!-- Block title -->
{% block title %}Roles{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore roles{% endblock %}
<!-- Block description -->
{% block keywords %}register, create an account{% endblock %}
<!-- Block description -->
{% block author %}Ricardo Miller{% endblock %}

<!-- Start content header -->
{% block content_title %}<span>Manage Roles</span>{% endblock %}
<!-- Content tagline-->
{% block content_tagline %}There are 2 created roles{% endblock %}

<!-- start content-->
{% block content %}
<section>

    <div class="uk-width-expand@m">
        <turbo-frame id="table_grid_paging_sorting">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <form method="POST" action="">
                            {{ $table }}
                        </form>

                    </div>
                </div>
                {@ templateExtension('uikit_pagination') @}
            </div>
        </turbo-frame>
    </div>
</section>
{% endblock %}