{% extends 'layout.html' %}
{% block title %}Settings{% endblock %}
{% block description %}MagmaCore settings{% endblock %}
{% block keywords %}team{% endblock %}
{% block author %}Ricardo Miller{% endblock %}
{% block styles %} {% endblock %}

{% block content %}
    <section class="uk-height-viewport uk-margin-top">
        <div>
            <div uk-grid>
                <div class="uk-width-1-4@m">
                    <div class="uk-card uk-card-body uk-card-default">
                        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                            <li class="uk-nav-header">Options</li>
                            {% foreach(['system', 'application', 'services'] as $option) : %}
                                <li><a href="/admin/setting/index?edit={{ $option }}">{{ $option }}</a></li>
                            {% endforeach; %}
                        </ul>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    {% if (isset($_GET['edit']) && $_GET['edit'] === 'system' || ! $_GET['edit']) : %}
                        {% include 'admin/setting/_parts/general.html' %}
                    {% elseif (isset($_GET['edit']) && $_GET['edit'] === 'application') : %}
                        {% include 'admin/setting/_parts/application.html' %}
                    {% elseif (isset($_GET['edit']) && $_GET['edit'] === 'services') : %}
                        {% include 'admin/setting/_parts/services.html' %}
                    {% endif; %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %} 
{% endblock %}