<div class="uk-padding-small uk-padding-remove-bottom">
	{{ iconNav(
    {
        push: {tooltip: 'Export', icon: 'ion-ios-download', path: '', ratio: _nav_icon_size},
        pull: { tooltip: 'Import', icon: 'ion-ios-upload', ratio: _nav_icon_size, path: _new_path },
        cog: {tooltip: 'Settings', icon: 'ion-gear-b', path: '/admin/user/settings', ratio: _nav_icon_size},
    },
    _results,
    null,
    _controller,
    false
)|raw }}
</div>
