<div class="uk-padding-small uk-padding-remove-bottom">
	{{ iconNav(
    {
        push: {tooltip: 'Export', path: '', ratio: _nav_icon_size},
        pull: { tooltip: 'Import', ratio: _nav_icon_size, path: _new_path },
        question: {tooltip: 'Help', path: '', ratio: _nav_icon_size},
        cog: {tooltip: 'Settings', path: '', ratio: _nav_icon_size},
    },
    _results,
    _controller,
    false
)|raw }}
</div>
