{% extends 'layout.html' %}

<!-- title -->
{% block title %}{{{ $row['firstname'] }}} Profile{% endblock %}
<!-- description -->
{% block description %}MagmaCore Profile Page{% endblock %}
<!-- keywords -->
{% block keywords %}{% endblock %}
<!-- commander -->
{% block commander_bar %}{{ $commanderBar }}{% endblock %}

<!-- start content-->
{% block content %}
<div class="uk-child-width-1-2@s" uk-grid>
    <div>
        <div uk-grid>
            <div class="uk-width-auto@m">
                <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Activities</a></li>
                    <li><a href="#">Social</a></li>
                </ul>
            </div>
            <div class="uk-width-expand@m">
                <ul id="component-tab-left" class="uk-switcher">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </li>
                    <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur, sed do eiusmod.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--  -->
{% block js %} {% endblock %}