<div class="bar-bottom">
    <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
        {% 
            $array = [
                'home' => ['icon' => 'home', 'path' => '/admin/dashboard/index'],
                'menu' => ['icon' => 'menu', 'path' => '/admin/menu/index'],
                'message' => ['icon' => 'mail', 'path' => '/admin/message/index'],
                'logout' => ['icon' => 'sign-out', 'path' => '/logout']
            ];
        %}
    
        {% foreach ($array as $key => $value) : %}
            <li class="uk-margin-small-right">
                <a class="uk-icon-link" uk-tooltip="{@ str($key, 'capital') @}" href="{{ $value['path'] }}">
                    {@ icon($value['icon'], 1.0) @}
                </a>
            </li>
        {% endforeach; %}
    </ul>    
</div>
