{% extends 'frontend_layout.html' %}

<!-- Block title -->
{% block title %}Activate Expired{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore activation expired{% endblock %}
<!-- Block description -->
{% block keywords %}activation-expired{% endblock %}
<!-- Block description -->
{% block author %}Ricardo Miller{% endblock %}

<!--  -->
{% block page_header %}{@ locale('activation_failed') @}!{% endblock %}
<!--  -->
{% block page_tagline %}{% endblock %}


<!-- start content-->
{% block content %}
<div>
    <p>{@ locale('time_expired') }</p>
    <p>
        Unfortunately the activation failed. Because the link is only valid for 1 hour. This would mean the account you
        created would have been automatically deleted. Please try registering again.
    </p>
    <a href="/register" class="uk-button uk-button-large uk-button-primary">{@ locale('register_again') }</a>
</div>

{% endblock %}