{% extends 'frontend_layout.html' %}

<!-- Block title -->
{% block title %}Activate Your Account{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore account activation{% endblock %}
<!-- Block description -->
{% block keywords %}activation{% endblock %}
<!-- Block description -->
{% block author %}Ricardo Miller{% endblock %}

<!--  -->
{% block page_header %}{@ locale('your_activated') @}!{% endblock %}
<!--  -->
{% block page_tagline %}{% endblock %}


<!-- start content-->
{% block content %}
<div>
    <p>Welcome back</p>
    <p>Your account is now activated and you now have full access to our content and free to update your profile information.</p>
    <a href="/profile/account/index" class="uk-button uk-button-large uk-button-primary">My Account</a>
</div>

{% endblock %}