<h3>Welcome to {{ site_name }}</h3>
<p>Sign in with the temporary password. By clicking the button below</p>

<ul>
    <li>Temporary Password: {{ password }}</li>
<ul>
<p><a href="{{ url }}">ACTIVATE ACCOUNT</a></p>
<p>Happy Browsing</p>