{% extends 'base.html.twig' %}

{% block content_title %}Activation Expired!
{% endblock %}
{% block main %}
	<div>
		<div uk-grid>
			<div class="uk-width-auto@m">
				{% set navs = {
					login: {title: 'Failed', path: '#'},
					help: {title: 'Help', path: '#'},

				} %}
				<ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
					{% for index, nav in navs %}
						<li>
							<a href="{{ nav.path }}">{{ nav.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="uk-width-expand@m">
				<ul id="component-tab-left" class="uk-switcher">
					<li>
						<h1 class="uk-heading-small">Activation Expired!</h1>
                        <p>Time Expired</p>
                        <p>
                            Unfortunately the activation failed. Because the link is only valid for 1 hour. This would mean the account you created would have been automatically deleted. Please try registering again.
                        </p>
                        <a href="/register" class="uk-button uk-button-large uk-button-primary">Register Again</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock main %}
