<footer id="footer" class="uk-flex uk-flex-center@m uk-flex-right@l">
	<div class="">
		<div >
			{% set _copyright = "now"|date("Y") ~ ' ' ~ app.app_name ~ '. ' ~ 'All rights reserved.'|raw %}
			<small>Copyright &copy;
				{{ _copyright }}</small>
		</div>

		<div class="uk-flerx uk-text-right">
			<a href="">
				{{ app.app_name ~ ' v' ~ app.system_version }}
			</a>

		</div>
	</div>
</footer>
