{% import "macros/nav.macro.html.twig" as menu %}

<aside id="sidebar" class="tm-sidebar-left uk-background-muted uk-inline uk-responsive-width">
	{% block sidebar_wrapper %}
		{% block sidebar_profile %}
			{% include 'shared/sidebar_profile.html.twig' %}
		{% endblock sidebar_profile %}
		<ul uk-tab>
			<li>
				<a uk-tooltip="Menu" href="#">
					<span class="ion-ios-more ion-21"></span>
				</a>
			</li>
			<li>
				<a uk-tooltip="Messages" href="#">
					<span class="ion-email-unread ion-21"></span>
				</a>
			</li>
			<li>
				<a uk-tooltip="My Contacts" href="#">
					<span class="ion-ios-person ion-21"></span>
				</a>
			</li>
			<li>
				<a uk-tooltip="Reminders & Events" href="#">
					<span class="ion-chatbubble-working ion-21"></span>
				</a>
			</li>
		</ul>
		<ul class="uk-switcher uk-margin">
			<li>
				{% block main_sidebar %}
					{{ menu.navMenu(items) }}
				{% endblock main_sidebar %}

			</li>

			<li>
				<ul class="uk-list uk-list-divider">
					<li>
								<div class="uk-card uk-margin-remove uk-margin-bottom-small">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img id="avatar" width="25" height"25" class="uk-border-circle" src="/public/assets/images/user2.png"/>
					</div>
					<div class="uk-width-expand">
						<span class="uk-margin-remove-bottom uk-text-meta">Jane Holloway</span>
						<p class="uk-text-meta uk-margin-remove-top">Lorem ipsum dolor sit amet
							{#<small id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-label uk-label-success"></small>#}
						</p>
					</div>
				</div>
			</div>

					</li>

					<li>
			<div class="uk-card uk-margin-remove">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img id="avatar" width="25" height"25" class="uk-border-circle" src="/public/assets/images/user10.png"/>
					</div>
					<div class="uk-width-expand">
						<span class="uk-margin-remove-bottom uk-text-meta">Sam Smith</span>
						<p class="uk-text-meta uk-margin-remove-top">Lorem ipsum dolor sit amet
							{#<small id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-label uk-label-success"></small>#}
						</p>
					</div>
				</div>
			</div>

					</li>

					<li>
								<div class="uk-card uk-margin-remove">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img id="avatar" width="25" height"25" class="uk-border-circle" src="/public/assets/images/user3.png"/>
					</div>
					<div class="uk-width-expand">
						<span class="uk-margin-remove-bottom uk-text-meta">Johm Doe</span>
						<p class="uk-text-meta uk-margin-remove-top">Lorem ipsum dolor sit amet
							{#<small id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-label uk-label-success"></small>#}
						</p>
					</div>
				</div>
			</div>

					</li>

					<li>
								<div class="uk-card uk-margin-remove">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img id="avatar" width="25" height"25" class="uk-border-circle" src="/public/assets/images/user9.png"/>
					</div>
					<div class="uk-width-expand">
						<span class="uk-margin-remove-bottom uk-text-meta">Sarah Baker</span>
						<p class="uk-text-meta uk-margin-remove-top">Lorem ipsum dolor sit amet
							{#<small id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-label uk-label-success"></small>#}
						</p>
					</div>
				</div>
			</div>

					</li>

					<li>
								<div class="uk-card uk-margin-remove">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img id="avatar" width="25" height"25" class="uk-border-circle" src="/public/assets/images/user5.png"/>
					</div>
					<div class="uk-width-expand">
						<span class="uk-margin-remove-bottom uk-text-meta">Peter Griffin</span>
						<p class="uk-text-meta uk-margin-remove-top">Lorem ipsum dolor sit amet
							{#<small id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-label uk-label-success"></small>#}
						</p>
					</div>
				</div>
			</div>

					</li>
				</ul>
			</li>
			<li>
			
				<ul class="uk-list uk-list-divider">
					<li>
														<div class="uk-card uk-margin-remove">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img id="avatar" width="25" height"25" class="uk-border-circle" src="/public/assets/images/user5.png"/>
					</div>
					<div class="uk-width-expand">
						<span class="uk-margin-remove-bottom uk-text-meta">The Bakery</span>
						<p class="uk-text-meta uk-margin-remove-top"><span class="ion-ios-telephone ion-16"></span> 0800-2556-696</p>
					</div>
				</div>
			</div>

					</li>
				</ul>
			
			
			</li>
			<li>
				{# Notidfications #}
<div>
        <div class="uk-margin-remove">
            <h3 class="uk-card-title">Saturday</h3>
			<small>26 April, 2021</small>
			<div class="ion-ios-cloud"> <small>Cloudy 15&deg; celcius</small></div>
            <p class="uk-text-small">Travelling to the United States first class on British Airways. </p>
        </div>
    </div>
		<p class="uk-background-muted uk-text-center uk-text-uppercase uk-padding-small">Upcoming Events</p>
		<ul class="uk-list uk-list-divider">

					<li>
								<div class="uk-card uk-margin-remove">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto uk-text-primary">
						<p><span class="uk-display-block uk-margin-remove uk-text-bolder">20</span></span>Apr</span></p>
					</div>
					<div class="uk-width-expand">
						<p class="uk-margin-remove-bottom uk-text-meta">HTML, CSS and Javascript</p>
						<small class="uk-text-meta uk-margin-remove-top uk-text-meta">San Francisco CA
						</small>
					</div>
				</div>
			</div>

					</li>
					<li>
								<div class="uk-card uk-margin-remove">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto uk-text-primary">
						<p><span class="uk-display-block uk-margin-remove uk-text-bolder">01</span></span>Jun</span></p>
					</div>
					<div class="uk-width-expand">
						<p class="uk-margin-remove-bottom uk-text-meta">Isobell Birthday Party</p>
						<small class="uk-text-meta uk-margin-remove-top uk-text-meta">Sheffield SY
						</small>
					</div>
				</div>
			</div>

					</li>
					<li>
								<div class="uk-card uk-margin-remove">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto uk-text-primary">
						<p><span class="uk-display-block uk-margin-remove uk-text-bolder">11</span></span>Jul</span></p>
					</div>
					<div class="uk-width-expand">
						<p class="uk-margin-remove-bottom uk-text-meta">Meeting with CEO of Facebook</p>
						<small class="uk-text-meta uk-margin-remove-top uk-text-meta">South London UK
						</small>
					</div>
				</div>
			</div>

					</li>

				</ul>


				<div class="uk-text-center uk-padding">
						<div>
							<span class="">59 Reminders</span>
							<a class="uk-text-meta uk-button uk-button-text" href="#">View All</a>
						</div>
					</div>			
	
	</li>
		</ul>

	{% endblock sidebar_wrapper %}
	<div class="uk-position-medium uk-position-bottom-center uk-text-meta uk-visible@xl">
		<div class"uk-text-center">
			<span style="text-shadow: 2px 2px #fefefe;" class="uk-text-uppercase uk-text-baseline uk-text-emphasis uk-text-bolders uk-label uk-background-muted">
				<a uk-tooltip="Bug Report" href="#" class="ion-bug ion-21 uk-icon-link uk-margin-small-right"></a>
				<a uk-tooltip="Menu Settings" href="#" class="ion-gear-b ion-21 uk-icon-link uk-margin-small-right"></a>
				<a uk-tooltip="Help" href="#" class="ion-ios-help ion-21 uk-icon-link"></a>
			</span>
			<div class="uk-text-center uk-text-bolder uk-text-emphasis">v1.2</div>
		</div>
	</div>

</aside>
