<center>
	<div class="user">
		<img id="avatar" width="100" class="uk-border-circle" src="{{ current_user.gravatar }}"/>
		<div class="uk-margin-top"></div>
		<div id="name" class="uk-text-truncate">Èrik Campobadal</div>
		<div id="email" class="uk-text-truncate">ConsoleTVs@gmail.com</div>
		<span id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-margin-top uk-label uk-label-success"></span>
	</div>
	<br/>
</center>
