<div style="text-align: center;">
    <div class="user">
        <img id="avatar" width="100" class="uk-border-circle" src="/public/assets/images/undraw_profile.svg"/>
        <div class="uk-margin-top"></div>
        <div id="name" class="uk-text-truncate">Ricardo Miller</div>
        <div id="email" class="uk-text-truncate">Administrator</div>
        <span id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000"
              class="uk-margin-top uk-label uk-label-success"></span>
    </div>
    <br/>
</div>