{% extends 'layout.html' %} 
{% block title %}Error{% endblock %} 
{% block description %}MagmaCore create an account{% endblock %} 
{% block keywords %}error{% endblock %} 
{% block author %}Ricardo Miller{% endblock %} 
{% block styles %}{% endblock %}

{% block content %}
    <section class="uk-height-viewport">
        <div class="uk-container uk-margin-large-top">
            <div class="uk-card uk-card-body uk-background-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            {@ icon('question', 3.5) @}
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">Error: Page Not Found <sup uk-tooltip="Page not found">404</sup></h3>
                            <p class="">
                                The request page was not found. <code>{{ $invalid_method }}</code>
                                <div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}