{% extends layout_blank.html %} {% block title %} {{ $locale['title'] }} {% endblock %} {% block description %} {{ $locale['description'] }} {% endblock %} {% block css %} {% endblock %} {% block content %}

<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">{{{ $app['app']['app_name'] }}}</span>
        </a>
    </header>

    <h1>{{{ $locale['header_main']['page_title'] }}}</h1>
    <p class="fs-5 col-md-8">{{{ $locale['header_main']['page_content'] }}}</p>

    <div class="mb-5">
        <a href="https://github.com/TheCodingWorkshop/_MagmaCore" class="btn btn-primary btn-lg px-4">{{{ $locale['header_main']['page_button'] }}}</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        {% foreach($locale['columns'] as $column): %}
        <div class="col-md-6">
            <h2>{{{ $column['page_title'] }}}</h2>
            <p>{{{ $column['page_content'] }}}</p>
            <ul class="icon-list">
                {% foreach ($column['lists'] as $key => $text) : %}
                <li><a href="{{{ $key }}}" rel="noopener" target="_blank">{{{ $text }}}</a></li>
                {% endforeach; %}
            </ul>
        </div>
        {% endforeach; %}

    </div>

    <footer class="pt-5 my-5 text-muted border-top">
        {{{ $base['copyright'] }}} &middot; &copy; 2021
    </footer>
</div>
{% endblock %} {% block js %}
<script src="test.js"></script>
{% endblock %}