{% extends 'frontend_layout.html' %}

<!-- Block title -->
{% block title %}Home{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore secure login{% endblock %}
<!-- Block description -->
{% block keywords %}login{% endblock %}
<!-- Block description -->
{% block author %}{% endblock %}

<!--  -->
{% block page_header %}{@ locale('framework_name') @}{% endblock %}
<!--  -->
{% block page_tagline %} Welcome and thanks for choosing Magmacore framework. You are using the current stable version <small>v1.2</small> {% endblock %}

<!-- start content-->
{% block content %}

<div uk-grid>
    <div class="uk-width-auto@m">
        <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
            <li><a href="#">{@ locale('getting_started') @}</a></li>
            <li><a href="#">{@ locale('application') @}</a></li>
            <li><a href="#">{@ locale('whats_next') @}</a></li>
        </ul>
    </div>
    <div class="uk-width-expand@m">
        <ul id="component-tab-left" class="uk-switcher">
            <li>
                {% if ($current_user) : %}
                <dl class="uk-description-list uk-description-list-divider">
                    <dt>{@ locale('current_user') @}</dt>
                    <dd>

                        <ul class="uk-list uk-list-disc uk-list-muted uk-text-danger">
                            <li>Name: {{{ $current_user->firstname . ' ' . $current_user->lastname }}}</li>
                            <li>Email: {{{ $current_user->email }}}</li>
                            <li>Role: ?</li>
                        </ul>
                    </dd>
                    <a href="/logout">
                        <ion-icon name="log-out-outline" size="large"></ion-icon>
                    </a>
                    <a href="/admin/dashboard/index">
                        <ion-icon name="speedometer-outline" size="large"></ion-icon>
                    </a>

                </dl>
                <!--  -->
                {% else : %}
                <p class="uk-text-lead">{@ locale('no_current_session') @}</p>
                <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
                    <p class="">{@ locale('no_account') @}? <br>
                        <a href="/register" class="uk-button uk-button-small uk-button-text uk-text-left">{@ locale('register') @}</a>
                    </p>
                    <a class="uk-link uk-text-right" href="/login">{@ locale('sign_in') @}</a>
                </div>
                <hr>
                <!--  -->
                {% endif; %}
            </li>
            <li class="uk-margin-bottom-medium">{@ locale('application_ready') @}
                <dl class="uk-description-list uk-description-list-divider">
                    <dt>{@ locale('server_information') @}</dt>
                    <dd>

                        <ul class="uk-list uk-list-disc uk-list-muted uk-text-danger">
                            <li>{@ locale('php_version') @}: {{{ PHP_VERSION }}}</li>
                            <li>{@ locale('port') @}: {{{ $_SERVER['SERVER_PORT'] }}}</li>
                            <li>{@ locale('server_name') @}: {{{ $_SERVER['SERVER_NAME'] }}}</li>
                            <li>{@ locale('user_agent') @}: {{{ $_SERVER['HTTP_USER_AGENT'] }}}</li>
                            <li>{@ locale('server_software') @}: {{{ $_SERVER['SERVER_SOFTWARE'] }}}</li>
                            <li>{@ locale('script_name') @}: {{{ $_SERVER['SCRIPT_NAME'] }}}</li>
                        </ul>
                    </dd>
                </dl>
            </li>
            <li>
                <div>
                    <img src="/public/assets/images/manual.png" width="70" height="70">
                    <span class="uk-text-middle">Read the documentation to learn more. <a href="">How to create your first project</a></span>

                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}