form,
input,
select,
button {
    font-weight: bold!important;
}


/* a,
a:active,
a:focus {
    color: #BBE5D6!important;
}



.bg-gradient-teal {
    background-color: #E4F5EF!important;
}



.bg-header-teal {
    background-color: #BBE5D6!important;
}

#content-wrapper {
    background-color: #C8EBDF!important;
}

.bg-footer {
    background-color: #C8EBDF!important;
}

.btn-teal {
    background-color: #48B884!important;
    color: #fff;
}

.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #BBE5D6!important;
}

.teal-icon {
    color: #48B884!important;
}

.bg-inner-sidebar {
    background-color: #D7F0E6!important;
}

.page-link,
.page-link:hover {
    background-color: #48B884!important;
    color: #fff;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgb(72, 184, 132);
}

.page-item.disabled .page-link {
    color: #858796;
    border-color: #48B884;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #48B884;
    border-color: #48B884;
} */