.uk-text-teal-s1 {
    color: #b2d8d8 !important;
}

.uk-text-teal-s2 {
    color: #66b2b2 !important;
}

.uk-text-teal-s3 {
    color: teal !important;
}

.uk-text-teal-s4,
.uk-text-teal {
    color: #006666 !important;
}

.uk-background-teal-s1,
.uk-card-teal-s1 {
    background-color: #b2d8d8 !important;
}

.uk-background-teal-s2,
.uk-card-teal-s2 {
    background-color: #66b2b2 !important;
}

.uk-background-teal-s3,
.uk-card-teal-s3 {
    background-color: teal !important;
}

.uk-navbar-container {
    background-color: #949fa0 !important;
}

.uk-background-teal,
.uk-card-teal,
.uk-button-teal {
    background-color: teal !important;
    color: #ffffff !important;
}