{% extends 'base.html.twig' %}

{% set _profile_index = '/profile/account/index' %}
{% set _app_name = app_name %}
{% set profile_nav %}
{% include 'profile/profile_menu.html.twig' %}
{% endset %}

{% block content_title %}
	My Account
{% endblock content_title %}

{% block main %}
	<div>
		<div uk-grid>
			<div class="uk-width-auto@m">
				{{ profile_nav }}
			</div>
			<div class="uk-width-expand@m">
				<ul id="component-tab-left" class="uk-switcher">
					<li>
						<h1 class="uk-heading-small">Edit Email</h1>
						<p>Remember to verify your new email address after you've changed it, using the email we'll send you. <span class="uk-text-danger">Your email will not changed otherwise.</span></p>
						{{ form|raw }}
						<div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
						<a class="uk-text-left uk-button uk-button-text uk-text-primary" href="{{ _profile_index }}">Cancel</a>
						<a class="uk-link uk-text-right" href="/password/forgot">Forgotton your Password?</a>
						</div>

					</li>
					<li>{% include '/profile/profile_history.html.twig' %}</li>
					<li>{% include '/profile/profile_cookies.html.twig' %}</li>
					<li>{% include '/profile/profile_settings.html.twig' %}</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock main %}
