{% extends 'frontend_layout.html' %} {% block title %}Update Your Email Address{% endblock %} {% block description %}MagmaCore update email{% endblock %} {% block keywords %}update-email{% endblock %} {% block author %}{% endblock %} {% block page_header
%}{@ locale('edit_email') @}{% endblock %} {% block page_tagline %}{% endblock %}

<!-- start content-->
{% block content %}
<div>
    <p>Remember to verify your new email address after you've changed it, using the email we'll send you. <span class="uk-text-danger">Your email will not changed otherwise.</span></p>
    {{ $form }}
    <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <a class="uk-text-left uk-button uk-button-text uk-text-primary" href="/profile/account/index">Cancel</a>
        <a class="uk-link uk-text-right" href="/password/forgot">Forgotton your Password?</a>
    </div>

</div>
{% endblock %}