{% extends 'frontend_layout.html' %}

<!-- Block title -->
{% block title %}Login{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore secure login{% endblock %}
<!-- Block description -->
{% block keywords %}login{% endblock %}
<!-- Block description -->
{% block author %}Ricardo Miller{% endblock %}
<!--  -->
{% block page_header %}{@ locale('personal_details') @}{% endblock %}
<!--  -->
{% block page_tagline %}{% endblock %}

<!-- start content-->
{% block content %}
<div>
    <p>Your account was created on {@ formatDate($row['created_at'], true) @}. And your current status is
        <span class="uk-text-success">{{{ $row['status'] }}}.</span> Your current role is set as
        <i>Superadmin</i>
    </p>
</div>
{% endblock %}