{% extends 'frontend_layout.html' %}

{% block title %}Login{% endblock %}
{% block description %}MagmaCore secure login{% endblock %}
{% block keywords %}login{% endblock %}
{% block author %}Ricardo Miller{% endblock %}
{% block page_header %}{@ locale('personal_details') @}{% endblock %}
{% block page_tagline %}{% endblock %}

<!-- start content-->
{% block content %}
    <div>
        <p>Your account was created on {@ formatDate($row['created_at'], true) @}.
            <dl>
                <dt>Status: {{ $row['status'] }}</dt>
                <dt>Role: {{ $privilege_user->getRole() }}</dt>
                <dt>Permission (s): {% print_r($privilege_user->getPermissions()) %}</dt>
            </dl>

        </p>
        <ul class="uk-list">
            <li><a href="/profile/account/{{$row['id']}}/name">?Edit Name</a></li>
            <li><a href="/profile/account/{{$row['id']}}/email">?Edit Email</a></li>
            <li><a href="/profile/account/{{$row['id']}}/password">?Edit Password</a></li>
        </ul>
        <div>
            <a href="/">Home</a>
        </div>
    </div>
{% endblock %}