{% extends 'frontend_layout.html' %}

<!-- Block title -->
{% block title %}Update Your Password{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore update password{% endblock %}
<!-- Block description -->
{% block keywords %}update-password{% endblock %}
<!-- Block description -->
{% block author %}{% endblock %}
<!--  -->
{% block page_header %}{@ locale('edit_password') @}{% endblock %}
<!--  -->
{% block page_tagline %}{% endblock %}

<!-- start content-->
{% block content %}
<div>
    <p>Passwords need to include...</p>
    <div uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>Notice</h3>
        <ul class="uk-list uk-list-disc uk-list-muted">
            <li>8 or more characters</li>
            <li>At least 1 letter</li>
            <li>At least 1 number</li>
        </ul>
    </div>
    {{ $form }} <a class="uk-button uk-button-text uk-text-primary" href="/profile/account/index">{@ locale('cancel') @}</a>

</div>
{% endblock %}