<turbo-frame id="block_health_status">
    <div>
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
            {% include 'admin/dashboard/health/critical.html' %}
            <div>
                <div class="uk-card uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto ion-64">
                                <ion-icon name="reader-outline"></ion-icon>
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">System Logger</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    <time datetime="2016-04-01T19:00">+23 entry logged today.</time>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div style="width:300; height: 200px;">
                            <canvas id="chart2"></canvas>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</turbo-frame>