{% extends layout_blank.html %} {% block title %} {{{ $locale['title'] }}} {% endblock %} {% block description %} {{{ $locale['description'] }}} {% endblock %} {% block css %} {% endblock %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{{ $locale['form']['page_title'] }}}</h1>
                                </div>
                                <p>{{{ $locale['form']['page_content'] }}}</p>
                                {{ $form }}
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/register">{{{ $locale['form']['no_account'] }}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}