{% extends "base.html.twig" %}


{% block main %}
	<div class="uk-card uk-card-default uk-margin-large-top">
		<div class="uk-card-body">
			<center>
				<h2>
					{% block content_title %}
						Reset Requested
					{% endblock content_title %}
				</h2><br/>
			</center>
			<p>Please check your email.</p>
		</div>
	</div>


{% endblock %}
