{% extends 'layout_auth.html' %}

{% block title %}Password Reset{% endblock %}
{% block description %}MagmaCore password reset{% endblock %}
{% block keywords %}password-reset{% endblock %}
{% block author %}Ricardo Miller{% endblock %}

<!-- start content-->
{% block content %}
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                <p class="mb-4">Your password was successfully reset. Please click the login link below!</p>
            </div>
            <hr>
            <div class="text-center">
                <a class="small" href="/login">Login!</a>
            </div>
        </div>
    </div>
{% endblock %}