{% extends 'frontend_layout.html' %}

{% block title %}Reset Password{% endblock %}
{% block description %}MagmaCore reset password{% endblock %}<!-- Block description -->
{% block keywords %}reset-password{% endblock %}
{% block author %}Ricardo Miller{% endblock %}
{% block page_header %}Reset your Password?{% endblock %}
{% block page_tagline %}Create new password using the password field below{% endblock %}

{% block content %}
    <div>
        {% if ($token_valid !== null) : %}
            {{ $form }}
            <hr>
            <div class="text-center">
                <a class="small" href="/login">Remembered your password? Login!</a>
            </div>
        {% else : %}
            <div class="text-center">
                <h3>{{ isset($app['token_expired']['title']) ? $app['token_expired']['title'] : null }}</h3>
                <p>{{ isset($app['token_expired']['message']) ? $app['token_expired']['message'] : null }}</p>
                <ul class="uk-list uk-list-bullet">
                    {% if (isset($app['token_expired']['reasons'])) : %}
                        {% foreach ($app['token_expired']['reasons'] as $reason) : %}
                            <li>{{{ $reason }}}</li>
                        {% endforeach; %}
                    {% endif; %}
                </ul>

                <a href="/login" class="uk-button uk-button-text">Login</a>
            </div>
        {% endif; %}
    </div>
{% endblock %}