{% extends 'layout_auth.html' %}

{% block title %}Password Reset Requested{% endblock %}
{% block description %}MagmaCore password reset requested{% endblock %}
{% block keywords %}password-reset-requested{% endblock %}
{% block author %}Ricardo Miller{% endblock %}

<!-- start content-->
{% block content %}
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Password Request Sent!</h1>
                <p class="mb-4">Please check your email for the request password link. This will enable you to change your
                    password to something you can remember.</p>
            </div>
            <hr>
            <div class="text-center">
                <a class="small" href="/">Cancel!</a>
            </div>
        </div>
    </div>
{% endblock %}