{% extends 'base.html.twig' %}


{% block main %}
	<div class="uk-card uk-card-default uk-margin-large-top">
		<div class="uk-card-body">
			<center>
				<h2>
					{% block content_title %}
						Request Password
					{% endblock content_title %}
				</h2><br/>
			</center>
			<p>Password reset link invalid or expired, please click
				<a href="/password/forgot">here</a>
				to request another one.</p>

		</div>
	</div>

{% endblock main %}
