<form action="/admin/{{ $this_route }}/settings" method="post" enctype="application/x-www-form-urlencoded" id="{{ $this_route }}SettingsForm" class="uk-form-stacked" target="_self">

    <section class="uk-height-viewport">
        <div>
            <div uk-grid>
                <div class="uk-width-1-4@m">
                    <div class="uk-card uk-card-body uk-card-default">
                        <p class="uk-text-meta">
                            <div uk-alert>
                                <h3>Notice</h3>
                                <p>It is recommended that you backup your settings by clicking the Backup button.</p>
                            </div>
                            <button type="submit" name="settings-{{ $this_route }}" class="uk-button uk-button-small uk-button-secondary">{@ icon('pull', 0.9) @} Save</button>

                        </p>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                {@ icon('nut', 3.5) @}
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">{{ $page_title }} <button type="submit" name="settings-{{ $this_route }}-backup" class="uk-button uk-button-small uk-button-secondary">{@ icon('database', 0.9) @} Backup</button>
                                    <button type="submit" name="settings-{{ $this_route }}-reset" class="uk-button uk-button-small uk-button-default">{@ icon('trash', 0.9) @} Reset</button>
                                </h3>

                                <p class="uk-text-meta uk-margin-remove-top">
                                    Last Backup {% if ($session_model->created_at !==null) : %} {@ formatDate($session_model->created_at) @} {% else : %} - Never {% endif; %}
                                </p>
                            </div>
                        </div>
                    </div>


                    <div>{{ $form }}</div>
                </div>
            </div>
        </div>
    </section>
</form>