{% if (count($table_tabs) > 0) : %}
    <ul uk-tab>
        {% foreach ($table_tabs as $key => $tab) : %}
        <li class="uk-text-small">
            <a class="uk-button uk-button-text uk-button-large" href="/admin/user/log">
                <span class="uk-margin-small-right uk-inline">
                    {@ icon($tab['icon']) @}
                </span>

                <span>{{ (isset($tab['tab']) ? $tab['tab'] : '') }}</span> {% if ($count_pending > 0): %}
                <sup uk-tooltip="Pending Accounts" class="uk-label uk-label-warning">
                    {{ (isset($tab['data']) && $tab['data'] !='' ? $tab['data'] : '') }}
                </sup> {% endif %}

                <br>
                <small class="uk-text-danger">{{ (isset($tab['meta']) ? $tab['meta'] : '') }}</small>
            </a>
        </li>
        {% endforeach %}
    </ul>
{% endif; %}
