{% extends 'layout.html' %}

<!-- title -->
{% block title %}Create Permission{% endblock %}
<!-- description -->
{% block description %}MagmaCore create new permission{% endblock %}
<!-- keywords -->
{% block keywords %}{% endblock %}

<!-- start content-->
{% block content %}
<section uk-grid>
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <turbo-frame id="role_form">
                        {{ $form }}
                    </turbo-frame>
                    <turbo-stream action="append" target="flash_messages">
                        <template>
                            <div>{@ templateExtension('uikit_flash_message') @}</div>
                        </template>
                    </turbo-stream>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-body uk-padding-remove">
                <h3 class="uk-card-title">New Permission</h3>
                <p>Roles gives any assigned user a certain amount of privilege to access protected area of the application. </p>

                <p>Creating new roles are easy and simple. Give your role a meaninggul name, add some description. Then click save.</p>


            </div>
        </div>
    </div>
    </form>

</section>

{% endblock %}
<!--  -->
{% block scripts %} {% endblock %}