{% extends 'layout.html' %}

<!-- title -->
{% block title %}Create Permission{% endblock %}
<!-- description -->
{% block description %}MagmaCore create new permission{% endblock %}
<!-- keywords -->
{% block keywords %}{% endblock %}

<!-- start content-->
{% block content %}
<section uk-grid class="uk-height-viewport">
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <turbo-frame id="role_form">
                        {{ $form }}
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-body uk-padding-remove">
                <h3 class="uk-card-title">What are Permissions?</h3>
                <p>Permissions are authorization given to a role. Which can be assigned to one or more users.
                    Permissions can either be individual or as part of a permission group. To where that
                entire group can be assigned to one or more roles.</p>

                <p>Every route within the application requires a specific permission. Which your role must have in
                order to gain access to perform the necessary action.</p>
            </div>
        </div>
    </div>
    </form>

</section>

{% endblock %}
<!--  -->
{% block scripts %} {% endblock %}