{% extends 'frontend_layout.html' %}

<!-- Block title -->
{% block title %}Registered{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore create an account{% endblock %}
<!-- Block description -->
{% block keywords %}register, create an account{% endblock %}
<!-- Block description -->
{% block author %}Ricardo Miller{% endblock %}

<!--  -->
{% block page_header %}{@ locale('welcome') @}!{% endblock %}
<!--  -->
{% block page_tagline %}{% endblock %}


<!-- start content-->
{% block content %}
<div>
    <p>Thanks for registering. Your account was created, but you now need to click the link sent to the email address
        you registered with. Once you click that link your account will become active and you will be redirect to the
        login page.</p>
    <a href="/login" class="uk-button uk-button-small uk-button-primary">{@ locale('login') @}</a>
</div>

{% endblock %}