{% extends 'base.html.twig' %}

{% block content_title %}Account Activation Required!
{% endblock %}
{% block main %}
	<div>
		<div uk-grid>
			<div class="uk-width-auto@m">
				{% set navs = {
					login: {title: 'Welcome', path: '#'},
					help: {title: 'Help', path: '#'},

				} %}
				<ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
					{% for index, nav in navs %}
						<li>
							<a href="{{ nav.path }}">{{ nav.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="uk-width-expand@m">
				<ul id="component-tab-left" class="uk-switcher">
					<li>
						<h1 class="uk-heading-small">Welcome!</h1>
						<p>Thanks for registering. Your account was created, but you now need to click the link sent to the email address you registered with. Once you click that link your account will become active and you will be redirect to the login page.</p>
                        <p class="uk-button uk-button-small uk-button-primary">You can close this page</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock main %}
