<ul class="uk-list uk-list-collapse uk-list-divider">
    <li class="uk-active uk-margin-bottom">
      <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">
        Codex
        <sup><span class="uk-text-meta">98</span></sup>
      </h3>
      <small>Welcome to the <span class="uk-text-danger">MagmaCore Codex</span>. The integrated manual for MagmaCore framework</small>
    </li>
    {% foreach ($controllers as $controller): %}
    <li>
      <div class="uk-clearfix">
        <div class="uk-float-left">
          <a class="uk-link-reset" href="/admin/support/documentation?codex={{ $controller['id'] }}">
            {@ str($controller['controller']) @}
          </a>
        </div>
        <div class="uk-float-right">
          {% if ($controller['current_method_count']): %}
            <code>
              <a class="uk-link-reset" uk-tooltip="{% printf('%s new %s method discovered', $controller['current_method_count'], $controller['controller']) %}" href="/admin/support/documentation?codex={{ $controller['id'] }}">[{{ $controller['current_method_count'] }}]</a>
            </code>
          {% else : %}
          {% endif; %}
        </div>
      </div>
    </li>
    {% endforeach; %}
  </ul>
  