{% extends 'layout.html' %} {% block title %}Access Denied{% endblock %} {% block description %}MagmaCore create an account{% endblock %} {% block keywords %}access denied{% endblock %} {% block author %}Ricardo Miller{% endblock %} {% block styles %}
<style>
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        padding: 0;
        margin: 0;
    }
    
    #notfound {
        position: relative;
        height: 50vh;
    }
    
    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 40%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .notfound {
        max-width: 767px;
        width: 100%;
        line-height: 1.4;
        padding: 0px 15px;
    }
    
    .notfound .notfound-404 {
        position: relative;
        height: 150px;
        line-height: 150px;
        margin-bottom: 25px;
    }
    
    .notfound .notfound-404 h1 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 186px;
        font-weight: 900;
        margin: 0px;
        text-transform: uppercase;
        background: url('/public/assets/images/text.png');
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        background-position: center;
    }
    
    .notfound h2 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 26px;
        font-weight: 700;
        margin: 0;
    }
    
    .notfound p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0px;
        text-transform: uppercase;
    }
    
    .notfound a {
        font-family: 'Titillium Web', sans-serif;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        border: none;
        background: #5c91fe;
        padding: 10px 40px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 1px;
        margin-top: 15px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
    
    .notfound a:hover {
        opacity: 0.8;
    }
    
    @media only screen and (max-width: 767px) {
        .notfound .notfound-404 {
            height: 110px;
            line-height: 110px;
        }
        .notfound .notfound-404 h1 {
            font-size: 120px;
        }
    }
</style>
{% endblock %}

<!-- start content-->
{% block content %}
<section class="uk-height-viewport" uk-grid>
    <div class="uk-card uk-card-default uk-card-body uk-width-expand@m">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>403</h1>
                </div>
                <br/>
                <h2>Oops! Access Denied</h2>
                <p>Sorry looks like you haven't got the right credentials to access the request page.</p>
                <a href="/admin/dashboard/index">Go To Homepage</a>
                <a href="/admin/dashboard/index">Request Temporary Access</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}