<div class="bar-bottom">
    <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
        <li>
            <a href="/admin/dashboard/index" class="uk-icon-link" data-uk-icon="icon: home" title="Home" data-uk-tooltip></a>
        </li>
        <li>
            <a href="/admin/menu/index" class="uk-icon-link" data-uk-icon="icon: menu" title="Menu Settings" data-uk-tooltip></a>
        </li>
        <li>
            <a href="/admin/setting/index" class="uk-icon-link" data-uk-icon="icon: settings"  title="Settings" data-uk-tooltip></a>
        </li>
        
        <li>
            <a href="/logout" class="uk-icon-link" data-uk-tooltip="Sign out" data-uk-icon="icon: sign-out"></a>
        </li>
    </ul>
</div>
