<ul class="uk-iconnav uk-text-white">
    <li class="uk-margin-small-right" uk-tooltip="{{ $current_user->firstname . ' ' . $current_user->lastname }}"><a href="/admin/user/1270/show" class="uk-button uk-button-text uk-link-reset">Welcome admin.</a></li>
    <li class="uk-margin-small-right"><a href="" class="uk-button uk-button-text uk-link-reset">Documentation.</a></li>
    <li class="uk-margin-small-right"><a href="" class="uk-button uk-button-text uk-link-reset">Changelog.<sup class="uk-text-danger">v1.3</sup></a></li>

    <li class="uk-margin-small-right" uk-tooltip="Site Settings"><a href="" uk-icon="icon: world"></a></li>
    <li><a uk-tooltip="Sign Out" href="/logout"><span uk-icon="icon: sign-out"></span></a></li>
</ul>


<!-- <ul class="uk-iconnav">
    <li>
        <a class="uk-text-secondary uk-margin-small-top" href="#">
            {@ icon('plus-circle', 1) @}
        </a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-active"><a href="#">Add Content</a></li>
                <li>Quickly add to the database</li>
                <li class="uk-nav-header">Quick Links</li>
                {% foreach (['user', 'role', 'permission', 'plugin', 'setting', 'menu'] as $link) : %} 
                    {% if ($link === 'setting') : %}
                        <li><a href="/admin/{{ $link }}/index">{{ ucwords($link) }}</a></li>
                    {% else : %}
                        <li><a href="/admin/{{ $link }}/new">{{ ucwords($link) }}</a></li>
                    {% endif; %} 
                {% endforeach; %}
            </ul>
        </div>

    </li>

    <li>
        <a class="uk-text-secondary uk-margin-small-top" href="/admin/message/index">
            {@ icon('mail', 1) @}
        </a>
    </li>

    <li><a class="uk-text-small uk-text-secondary uk-margin-small-top uk-link-reset" href="#">Hi {{ $current_user->firstname . ' ' . $current_user->lastname }}</a></li>
</ul>
<div class="uk-margin-small-left">
    <a class="" href=""><img class="uk-border-pill" src="{{ $current_user->gravatar }}" width="35" height="35" alt="Border pill"></a>
    <div uk-dropdown="mode: click">
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active"><a href="#">{@ locale('active') @}</a></li>
            <li><a href="/admin/user/{{ $current_user->id }}/personal">{{ $privilege_user->fullname }}</a>
                <span>{@ icon('bookmark', 1) @} {{ $privilege_user->getRole() }}</span>
            </li>
            <li class="uk-nav-header">Options</li>
            <li>
                <a href="/admin/user/{{ $current_user->id }}/edit">
                    {@ icon('user', 1) @} Profile</a>
            </li>
            <li>
                <a href="/admin/setting/index">
                    {@ icon('cog', 1) @} Settings</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
                <a href="/logout">
                    {@ icon('sign-out', 1) @} Logout</a>
            </li>
        </ul>
    </div>
</div> -->