<div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
    <div class="uk-container uk-container-expand">
        <nav uk-navbar>
            <div class="uk-navbar-left">
                <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon></a>
                <a href="{@ path('admin_dashboard_index') @}" class="uk-navbar-item uk-logo">
                    LavaStudio
                </a>
            </div>
            <div class="uk-navbar-right uk-light">
                <div>
                    {% if (isset($current_user)) : %}
                    <span class="ion-24">
                        <ion-icon name="expand"></ion-icon>
                    </span>
                    <!--  -->
                    {% else : %}
                    <span class="ion-24">
                        <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <!--  -->
                    {% endif; %}
                    <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                        <ul class="uk-navbar-nav">
                            {% foreach($header_nav as $key => $val) : %}
                            <li class="">
                                <a href="{{ $val['path'] }}">
                                    <span class="ion-24">
                                        <ion-icon name="{{ $val['icon'] }}"></ion-icon>
                                    </span>
                                </a>
                                {% if (isset($val['children']) && count($val['children']) > 0) : %}
                                <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {% foreach ($val['children'] as $k => $v) : %}
                                        <li>
                                            <a data-turbo="false" href="{{ $v['path'] }}">{{ $v['name'] }}</a>
                                        </li>
                                        {% endforeach; %}
                                    </ul>
                                </div>
                                {% endif; %}
                            </li>
                            {% endforeach; %}
                        </ul>

                    </div>
                </div>

            </div>
        </nav>
    </div>
</div>