<div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
    <div class="uk-container uk-container-expand">
        <nav uk-navbar>
            <div class="uk-navbar-left">
                <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon></a>
                <a href="{@ path('admin_dashboard_index') @}" class="uk-navbar-item uk-logo">
                    {@ config('site_name') @}
                </a>
            </div>
            <div class="uk-navbar-right uk-light">
                {% include _partials/_header_profile_dropdown.html %}
            </div>
        </nav>
    </div>
</div>