<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="localeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Language</span>
        <img class="img-profile rounded-circle" src="/public/assets/images/language/en.svg">
    </a>
    <!-- Dropdown - Locale Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="localeDropdown">
        <a class="dropdown-item" href="#">
            Espaneol
        </a>
        <a class="dropdown-item" href="#">
            Arabic
        </a>
        <a class="dropdown-item" href="#">
            French
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            Default
        </a>
    </div>
</li>