<div class="uk-position uk-position-bottom-left">
    <div class="uk-card-header">
        <hr>
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img id="avatar" width="35" class="uk-border-circle" src="{{ $current_user->gravatar }}"/>

            </div>
            <div class="uk-width-expand">
                <small class="uk-block">{{ $current_user->firstname . ' ' . $current_user->lastname }}</small>
                <ul class="uk-iconnav">
                    <li><a class="ion-18" href="#" uk-tooltip="Facebook"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a class="ion-18" href="#" uk-tooltip="Youtube"><ion-icon name="logo-youtube"></ion-icon></a></li>
                    <li><a class="ion-18" href="#" uk-tooltip="Twitter"><ion-icon name="logo-twitter"></ion-icon></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
