{% extends 'layout.html' %}
{% block title %}Export Data{% endblock %}
{% block description %}MagmaCore export{% endblock %}
{% block keywords %}export{% endblock %}
{% block author %}Ricardo Miller{% endblock %}

<!-- start content-->
{% block content %}
<form action="" method="post" enctype="application/x-www-form-urlencoded" id="{{ $this_route }}SettingsForm" class="uk-form-stacked" target="_self">

    <section class="uk-height-viewport">
        <div>
            <div uk-grid>
                <div class="uk-width-1-4@m">
                    <div class="uk-card uk-card-body uk-card-default">
                        <p class="uk-text-meta">
                            <div uk-alert>
                                <h3>Notice</h3>
                                <p>File are downloaded as {{ $export['export_format'] }} format</p>
                                <p>Use the settings to build your exported data. The settings won't change until you click the reset button.</p>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                {@ icon('push', 3.5) @}
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">Export {{ $this_route }} Data 
                                    <button type="submit" name="export-{{ $this_route }}-reset" class="uk-button uk-button-small uk-button-default">{@ icon('trash', 0.9) @} Reset</button>
                                    <a href="/admin/{{ $this_route }}/export" uk-tooltip="Refresh Page">{@ icon('refresh', 0.9) @}</a>
                                </h3>

                                <p class="uk-text-meta uk-margin-remove-top">
                                    {{ $export['log_records'] }} rows of data available.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div>{{ $form }}</div>
                </div>
            </div>
        </div>
    </section>
</form>{% endblock %} 

{% block scripts %} {% endblock %}