<ul class="uk-list">
    {% foreach (['general' => ['icon' => 'globe', 'name' => 'General Settings'], 'security' => ['icon' => 'lock-closed',
    'name' => 'Security'], 'purge' => ['icon' => 'trash', 'name' => 'Purge'], 'tools' => ['icon' => 'build', 'name' =>
    'Tools']] as $key =>
    $value) : %}

    <li>
        <div class="uk-card-header uk-padding-remove-bottom">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto ion-64">
                    <ion-icon name="{{ $value['icon'] }}-outline"></ion-icon>
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">
                        {% if (isset($value['name']) && $value['name'] !=='') : %}
                        <span>{{ $value['name'] }}</span> {% else : %}
                        <span>{% str_replace('_', ' ', $key) %}</span> {% endif; %}
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top uk-button uk-button-text"><a
                            href="/admin/setting/{{ $key }}">Configure</a></p>
                </div>
            </div>
        </div>
    </li>
    {% endforeach; %}
</ul>