<div class="uk-width-1-1@m uk-width-1-1@l">
	<div class="uk-flex uk-text-left uk-height-small">


		<div class="uk-card uk-card-primary uk-card-body uk-width-1-4 uk-flex-last">
			<div class="uk-card-badge uk-button uk-button-text uk-visible@m">Manage Users</div>
			<a href="/admin/user/index">
				<span class="ion-person-stalker" style="font-size: 64px;"></span>
			</a>
		</div>

		<div class="uk-card uk-card-secondary uk-card-body uk-width-1-5 uk-flex-first">
			<div class="uk-card-badge uk-button uk-button-text uk-visible@m">Support</div>
			<a href="">
				<span class="ion-help-buoy" style="font-size: 64px;"></span>
			</a>

		</div>
		<div class="uk-card uk-background-muted uk-flex-last uk-card-body uk-visible@m">
			<div class="uk-card-badge uk-button uk-button-text uk-visible@m">Fix</div>
			<a href="">
				<span class="ion-gear-b" style="font-size: 64px;"></span>
			</a>
		</div>

		<div class="uk-card uk-card-default uk-card-body uk-width-1-5">
			<div class="uk-card-badge uk-button uk-button-text uk-visible@m">Report</div>
			<a href="">
				<span class="ion-arrow-graph-down-right" style="font-size: 64px;"></span>
			</a>

		</div>
		<div class="uk-card uk-card-default uk-flex-last uk-card-body uk-width-1-4">
			<div class="uk-card-badge uk-button uk-button-text uk-visible@m">Messages</div>
			<a href="">
				<span class="ion-email" style="font-size: 64px;"></span>
			</a>

		</div>


	</div>
</div>
