<div class="uk-width-1-2@m">
	<div>
		<div class="uk-card uk-card-default uk-card-body">
			<div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
				<div class="uk-grid-item-match">
					<div>
				<span class="statistics-text">System Health</span><br/>
				<span class="statistics-text">
					Good
				</span>
					</div>
				</div>
				<div>
					<div class="uk-column-1-2">
						<p>CPU
					<span class="uk-label uk-label-success">
						17.3KB
						<span class="ion-arrow-up-c"></span>
					</span>

						</p>

						<p>RAM
					<span class="uk-label uk-label-warning">
						2MB
						<span class="ion-arrow-down-c"></span>
					</span>

						</p>
						<p>HDD
					<span class="uk-label uk-label-primary">
						25GB
						<span class="ion-arrow-down-c"></span>
					</span>

						</p>



					</div>
				</div>
			</div>
		</div>
	</div>
</div>
