<div class="uk-width-1-2@m">
	<div class="uk-grid-item-match">
		<div class="uk-card uk-card-default uk-card-body">
			<span class="statistics-text">Page Impression</span><br/>
			<span class="statistics-number">
				123.23
				<span class="uk-label uk-label-danger">
					13%
					<span class="ion-arrow-down-c"></span>
				</span>
			</span>
		</div>
	</div>
</div>
