<div class="uk-width-1-3@m">
	<div class="uk-grid-item-match">
		<div class="uk-card uk-card-default uk-text-left">
			<div class="uk-card uk-card-body">
				<div class="uk-card-badge">
					<span class="ion-gear-b" style="font-size: 24px;"></span>
				</div>
				<span class="statistics-text">New Registrations</span><br/>
				<span class="statistics-number">
					115
					<span class="uk-label uk-label-success">
						26%
						<span class="ion-arrow-up-c"></span>
					</span>
				</span><br/>
				<span>+40 in last 28 days</span>
				<hr>
				<h6 class="uk-text-meta uk-text-bold uk-margin-remove-top">First 33 days 3 hours compared to your typical performance:</h6>
				<div class="uk-column-1-3">
					<p>Views
						<span class="uk-display-block uk-label uk-label-primary">
							569
							<span class="ion-arrow-up-c"></span>
						</span>

					</p>

					<p>
						CTR
						<span class="uk-display-block uk-label uk-label-primary">
							4.2%
							<span class="ion-arrow-up-c"></span>
						</span>
					</p>

					<p>Avg
						<span class="uk-display-block uk-label uk-label-primary">
							2:42
							<span class="ion-arrow-up-c"></span>
						</span>

					</p>
				</div>
				<hr>
				<div>
					<canvas id="chart3"></canvas>
				</div>

			</div>
		</div>
	</div>
</div>
