<div class="uk-width-3-5@m uk-width-2-3@l">
	<div class="uk-grid-item-match">
		<div class="uk-card uk-card-default uk-card-body">
			<div class="uk-card-badge">
				<span class="ion-gear-b ion-24"></span>
			</div>
			<h3 class="uk-card-title">Website Traffic</h3>
			<div class="uk-height-large">
				<canvas id="chart2"></canvas>
			</div>
		</div>
	</div>
</div>
