{% extends 'layout.html' %}
{% block title %}Controller Discovery{% endblock %}
{% block description %}MagmaCore controller discovery{% endblock %}
{% block keywords %}controller-discovery{% endblock %}
{% block author %}Ricardo Miller{% endblock %}
{% block styles %} {% endblock %}

{% block content %}
    <section uk-grid class="uk-height-match uk-margin-top">
        <div class="uk-width-1-4@m">
                {% if (isset($_GET['edit'])) : %}
                    <a class="uk-link-reset" href="{@ path('admin_discovery_discover') @}">
                {@ icon('arrow-left', 1.0) @}
                {% else : %}
                    <a class="uk-link-reset" href="/admin/discovery/discoveryRefresh">
                {@ icon('refresh', 1.0) @}
                {% endif; %}
            </a>
            <div>
                {% include 'admin/discovery/_partials/discovery_sidebar.html' %}
            </div>
        </div>

        <div class="uk-width-expand@m">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        {% if ($controller_singular !==null): %}
                            {% include 'admin/discovery/_partials/accordion.html' %}
                            <hr>
                            <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">Discovery</h3>
                            <p>Discovery will automatically alert you of any method changes to {{ $controller_singular->controller }} controller class.</p>
                            <code>
                                {% if ($new_methods) : %}
                                    {@ discover($new_methods) @}
                                {% else : %}
                                    <span>Nothing's been discovered as yet!</span>
                                {% endif; %}
                            </code>
                        {% else : %}
                            {% include 'admin/discovery/_partials/discovery_main.html' %}
                        {% endif; %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Footer scripts -->
{% block scripts %} {% endblock %}