{% extends 'layout.html' %}
{% block title %}Edit Group{% endblock %}
{% block description %}MagmaCore edit group{% endblock %}
{% block keywords %}edit-group{% endblock %}

<!-- start content-->
{% block content %}
<section uk-grid class="uk-height-viewport">
  <div class="uk-width-1-2@m">
    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          {{ $form }}
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@m">
    <div>
      <div class="uk-card uk-card-body uk-padding-remove">
        <dl class="uk-description-list uk-description-list-divider">
          <dt>{@ locale('last_updated') @}</dt>
          <dd>
            {% if (isset($group['modified_at']) && $group['modified_at'] !==null) : %} {@ formatDate($group['modified_at']) @} {% else : %} Never {% endif %}
          </dd>
          <dt>{@ locale('created') @}</dt>
          <dd>{@ formatDate($group['created_at']) @}
            <small class="uk-text-primary uk-text-bolder">Created by: {@ getAuthorByID($group['created_byid']) @}</small>
          </dd>
          <dt>{@ locale('qualified_roles') @}</dt>
          <dd></dd>
        </dl>
      </div>
    </div>
  </div>

</section>

{% endblock %}
<!--  -->
{% block scripts %}
<script>
  addEventListener("turbo:submit-start", ({
                                            target
                                          }) => {
    for (const field of target.elements) {
      field.disabled = true
    }
  })
</script>

{% endblock %}