{% extends 'layout.html' %}
{% block title %}Groups{% endblock %}
{% block description %}MagmaCore groups{% endblock %}
{% block keywords %}Create groups for roles and permissions{% endblock %}
{% block author %}Ricardo Miller{% endblock %}

{% block content %}
    <form method="post" action="/admin/group/bulk" data-turbo="false">
        {@ templateExtension('uikit_simple_pagination') @}
        <section uk-grid class="uk-height-viewport">
            <div class="uk-width-expand@m">
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-body">
                            {% include 'admin/_global/_global_datatable.html' %}
                        </div>
                    </div>
                    {@ templateExtension('uikit_pagination') @}
                </div>
            </div>
        </section>
    </form>
{% endblock %}