{% extends 'layout.html' %}
{% block title %}Create Group{% endblock %}
{% block description %}MagmaCore create new group{% endblock %}
{% block keywords %}new-group, create-new{% endblock %}

{% block content %}
    <section uk-grid class="uk-height-viewport">
        <div class="uk-width-1-2@m">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        {{ $form }}
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-2@m">
            <div>
                <div class="uk-card uk-card-body uk-padding-remove">
                    <h3 class="uk-card-title">What are Groups?</h3>
                    <p>Roles are a group of permission. Which can be assigned to multiple users within. Roles can have an unlimited amount of permissions. Permissions that can be added and remove at any point.
                    </p>

                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block scripts %}{% endblock %}