<turbo-frame id="block_main">
    <div>
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-body uk-card-primary uk-text-white">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto ion-68">
                                <ion-icon name="person-outline"></ion-icon>
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">{{{ $total_records }}} Users
                                </h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    You gained +{{{ $user_gained }}} new users in the last month
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-text-small">-<a data-turbo="false" href="/admin/user/index?status=pending">{{{
                            $pending_users }}}</a> {@ locale('user_still_pending') @}
                        </p>
                        <ul class="uk-list uk-list-collapse uk-list-divider">
                            {% foreach ($user_percentage as $key => $value) : %}
                            <li>
                                <div class="uk-grid-small" uk-grid>
                                    <div class="uk-width-expand" uk-leader>{{ $key }}</div>
                                    <div>{{ $value['percentage'] }}%</div>
                                </div>
                            </li>
                            {% endforeach; %}
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card">
                    {% foreach($main_cards as $key => $value) : %}
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto ion-64">
                                <a data-turbo="false" href="{{ $value['path'] }}" class="uk-link-reset">
                                    <ion-icon name="{{ $value['icon'] }}"></ion-icon>
                                </a>
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">
                                    {{ $key }}
                                </h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    {% if (isset($value['desc']) && count($value['desc']) > 0) : %} {% foreach($value['desc'] as $desc) : %}
                                    <span>{{ $desc }}</span> {% endforeach; %} {% endif; %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endforeach; %}
                </div>
            </div>
        </div>
    </div>
</turbo-frame>