<div>
    <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-body uk-card-secondary">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            {@ icon('rss', 3.5) @}
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom uk-text-bolder">Right Now</h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <span>You have nothing new right now.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>MagmaCore is running the latest stable version v1.3</p>
                    <ul class="uk-list uk-list-collapse">
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Users</div>
                                <div>0</div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Comments</div>
                                <div>0</div>
                            </div>

                        </li>
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Content</div>
                                <div>0</div>
                            </div>

                        </li>
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Re-opened</div>
                                <div>2</div>
                            </div>

                        </li>
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Pull Request</div>
                                <div>27</div>
                            </div>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div>
            <a class="weatherwidget-io" href="https://forecast7.com/en/53d52n1d13/doncaster/" data-label_1="DONCASTER" data-label_2="WEATHER" >DONCASTER WEATHER</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>        </div>
    </div>
</div>