<div>
    <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-body uk-card-secondary">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            {@ icon('rss', 3.5) @}
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom uk-text-bolder">Right Now</h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <span>You have nothing new right now.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>MagmaCore is running the latest stable version v1.3</p>
                    <div id="just_now_panel"></div>
                    <script>
                            $("#just_now_panel").sparkline([123, 94, 67, 72, 70, 64, 82, 74], {
                            type: 'bar',
                            height: '100',
                            barWidth: '25',
                            barColor: '#ffffff'
                        });
                    </script>
                    <!-- <ul class="uk-list uk-list-collapse">
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Users</div>
                                <div>0</div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Comments</div>
                                <div>0</div>
                            </div>

                        </li>
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Content</div>
                                <div>0</div>
                            </div>

                        </li>
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Re-opened</div>
                                <div>2</div>
                            </div>

                        </li>
                        <li>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Pull Request</div>
                                <div>27</div>
                            </div>

                        </li>

                    </ul> -->
                </div>
            </div>
        </div>
        <div>
            {@ getWidget('lists_widget', null, null, $main_cards) @}
        </div>
    </div>
</div>