{% extends 'layout.html' %}

<!-- Block title -->
{% block title %}Dashboard{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore create an account{% endblock %}
<!-- Block description -->
{% block keywords %}register, create an account{% endblock %}
<!-- Block description -->
{% block author %}Ricardo Miller{% endblock %}

<!-- Start content header -->
{% block content_title %}<span>Welcome Back,</span>{% endblock %}
<!-- Content tagline-->
{% block content_tagline %}There are 123 currently registered users{% endblock %}

<!-- start content-->
{% block content %}
<div>

</div>
{% endblock %}