{% extends 'layout.html' %} {% block title %}Dashboard{% endblock %} {% block description %}MagmaCore create an account{% endblock %} {% block keywords %}register, create an account{% endblock %} {% block author %}Ricardo Miller{% endblock %} {% block
dashboard_commander %} {% include 'admin/dashboard/commander_bar.html' %} {% endblock %} {% block styles %}
<style>
    .ldBar-label:after {
        font-size: 0.6em;
    }
</style>
{% endblock %}
<!-- start content-->
{% block content %}
<section class="uk-height-viewport">
    <div class="uk-card uk-card-default uk-card-body uk-width-expand@m">
        <div class="uk-card-badge ion-24">
            <a href="#offcanvas-usage" uk-toggle class="uk-link-reset">
                <ion-icon name="settings-outline"></ion-icon>
            </a>
        </div>
        <div>
            <div>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        {% include 'admin/dashboard/nav_switcher.html' %}
                    </div>
                    <div class="uk-width-expand@m">
                        <ul id="component-tab-left" class="uk-switcher">
                            <li>{% include 'admin/dashboard/block_main.html' %}</li>
                            <li>{% include 'admin/dashboard/block_ticket.html' %}</li>
                            <li>{% include 'admin/dashboard/block_session.html' %}</li>
                             <li>{% include 'admin/dashboard/block_github.html' %}</li>
                            <li>{% include 'admin/dashboard/block_health_status.html' %}</li>
                            <!-- <li>{% include 'admin/dashboard/block_activities.html' %}</li> -->
                            <li>{% include 'admin/dashboard/block_project.html' %}</li>
                            <!-- <li>{% include 'admin/dashboard/block_notifications.html' %}</li> -->
                        </ul>
                        {% include 'admin/dashboard/dashboard_toggle.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="uk-card-body chart-content">
    </div>
    <div>
        <div uk-grid>
            <div class="uk-width-expand@m">
                <ul id="component-tab-left-p" class="uk-switcher">
                    <li>Main</li>
                    <li>Session</li>
                    <li>Github</li>
                    <li>Health Status</li>
                    <li>Activities</li>
                    <li>Project Extension</li>
                </ul>
            </div>
        </div>
    </div>

</section>

{% endblock %}
<!-- Footer scripts -->
{% block scripts %} {% endblock %}