{% extends 'base_admin.html.twig' %}

{% set _this			= this %}
{% set _controller 		= _this.thisRouteController() %}
{% set _helpBlock 		= help_block %}
{% set _nav_icon_size	= 1.5 %}
{% set _icon_size	    = 3 %}
{% set _icon			= 'home' %}

{% block content_title %}
	{{ _controller|capitalize }}
{% endblock content_title %}

{% block content_header_help %}
	{#
			string		$searchFilter = null, 
			string 		$controller = null,
			int 		$totalRecords = null,
			array 		$actions = null,
			bool 		$actionVertical = false,
			array 		$row = null) : string
			#}
	{{ subHeader(
		_searchedQuery,
		_controller|capitalize,
		_total_records,
		null,
		false,
		null,
		null,
		_icon
	)|raw }}
{% endblock content_header_help %}

{% block main %}
	<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<h2 class="uk-card-title">Users</h2>
					</div>
					<div class="uk-width-expand">
						<h3 class="uk-card-title uk-margin-remove-bottom uk-text-bold uk-text-teal-s4">89</h3>
						<p class="uk-text-meta uk-margin-remove-top">
							<span class="uk-text-bolder uk-text-teal-s4">Up 2.5% from last week</span>
						</p>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<h2 class="uk-card-title">Content</h2>
					</div>
					<div class="uk-width-expand">
						<h3 class="uk-card-title uk-margin-remove-bottom uk-text-bold uk-text-teal-s4">25</h3>
						<p class="uk-text-meta uk-margin-remove-top">
							<span class="uk-text-bolder uk-text-teal-s4">Up 2.5% from last week</span>
						</p>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-secondary uk-card-body">
				<h3 class="uk-card-title">Secondary</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
		</div>
	</div>

	<div class="uk-child-width-1-2@s" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-small uk-card-body">
				<h3 class="uk-card-title uk-button uk-button-text">At a Glance</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-large uk-card-body">
				<h3 class="uk-card-title">Large</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
{% endblock main %}

{% block body_javascript %}
	{{ parent() }}
{% endblock body_javascript %}
