{% extends 'base.html.twig' %}

{% block content_title %}Edit {{ user.firstname }}{% endblock content_title %}
{% block main %}
{% if errors is not empty %}
    {% for error in errors %}
        <div class="uk-alert">{{ error }}</div>
    {% endfor %}
{% endif %}

    {{ form|raw }}
{% endblock main %}