{% extends 'layout.html' %}

<!-- title -->
{% block title %}User Listings{% endblock %}
<!-- description -->
{% block description %}MagmaCore create an account{% endblock %}
<!-- keywords -->
{% block keywords %}register, create an account{% endblock %}
<!-- commander bar -->
{% block commander_bar %}{{ $commanderBar }}{% endblock %}

<!-- start content-->
{% block content %}
<section>
    <div class="uk-width-expand@m">
        <turbo-frame id="table_grid_paging_sorting">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <form method="POST" action="">
                            {{ $table }}
                        </form>

                    </div>
                </div>
                {@ templateExtension('uikit_pagination') @}
            </div>
        </turbo-frame>
    </div>
</section>

{% endblock %}
<!--  -->
{% block extended_js %} {% endblock %}