{% extends layout.html %} {% block title %}Users{% endblock %} {% block description %}Description{% endblock %} {% block css %} {% endblock %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1 class="h3 mb-2 text-gray-800 font-weight-bold">{@ f($obj->thisRouteController())->pluralWithCaps() @}
            </h1>
        </div>
        <div class="col col-lg-2">
        </div>

        <div class="col-md-auto">
            <a href="/admin/{{ $controller }}/new" role="button" class="font-weight-bold btn btn-primary btn-sm">{{{ $locale['add_new_user'] }}}</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <div class="input-group-append">
                    <select class="form-control mr-sm-2 form-control-sm" id="">
                        <option selected>150</option>
                        <option value="1">100</option>
                      </select>
                </div>
                <div class="input-group-append">
                    {{ $pagination }}
                </div>

            </div>

        </div>
        <div class="col-md-auto">
            <small class="font-weight-bold font-italic"></small>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="search" name="s" placeholder="Search..." class="form-control" aria-label="Text input with dropdown button"> {@ queryDropdown('filter', null, $status ); @} {@ queryDropdown( 'columns', 'sort-amount-down', array_map(fn($column):
                string => $column['dt_row'], $columns)); @}
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <form method="POST" action="/admin/{{ $controller }}/bulk" class="form-group">
            <div class="card-header py-3">
                <div class="d-flex flex-row">
                    <div class="p-0">
                        {@ batchSelection(null, $controller) @}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if (!empty($table)) : %} {{ $table }} {% else : %} {{ 'No Data' }} {% endif; %}
                </div>
            </div>
        </form>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %} {% block js %}
<script>
    function saveChanges(Object) {
        alert(Object.value)
    }

    function checkUncheckAll() {
        var rows = document.getElementsByName('id[]'); // *Columns name attribute 
        var isCheck = false; // flag defaults to false 
        rows.forEach((cb) => {
            if (cb.type === 'checkbox') {
                if (cb.checked === false) {
                    isCheck = true
                    cb.checked = true;
                } else {
                    if (cb.checked === true) {
                        isCheck = false;
                        cb.checked = false;
                    }
                }
            }
        })
        whenCheck(isCheck)

    }

    function whenCheck(isCheck) {
        var toggle = document.getElementById("js-selector-container");
        if (isCheck === true) {
            toggle.innerHTML = `
                <div class="uk-background-muted uk-margin-remove uk-padding-small">
                    <button uk-icon="icon: trash" class="uk-button uk-button-small uk-button-default" type="submit" name="bulk_delete"></button>
                <button uk-icon="icon: file-edit" class="uk-button uk-button-small uk-button-default" type="submit" name="bulk_delete"></button>							

                </div>
            `;
        } else {
            toggle.innerHTML = "";
        }
    }
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>

{% endblock %}