{% extends 'base.html.twig' %}

{% block content_title %}New User
{% endblock content_title %}
{% block main %}
	<a href="/admin/user/index" class="uk-button-text">Go Back</a>

	{{ form|raw }}
{% endblock main %}
