{% extends 'layout.html' %}

<!-- title -->
{% block title %}Create An Account{% endblock %}
<!-- description -->
{% block description %}MagmaCore create an account{% endblock %}
<!-- keywords -->
{% block keywords %}new-account, create-new{% endblock %}
<!-- commander -->
{% block commander_bar %}{{ $commanderBar }}{% endblock %}

<!-- start content-->
{% block content %}
<section uk-grid>
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <turbo-frame id="user_form">
                        {{ $form }}
                    </turbo-frame>
                    <turbo-stream action="append" target="flash_messages">
                        <template>
                            <div>{@ templateExtension('uikit_flash_message') @}</div>
                        </template>
                    </turbo-stream>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-body uk-padding-remove">
                <div class="uk-margin">
                    <div class="uk-form-label"></div>
                    <div class="uk-form-controls">
                        <label><input class="uk-radio" type="radio" name="radio1"> Subscriber</label><br>
                        <label><input class="uk-radio" type="radio" name="radio1"> Superadmin</label><br>
                        <label><input class="uk-radio" type="radio" name="radio1"> Administrator</label><br>
                        <label><input class="uk-radio" type="radio" name="radio1"> Contributor</label><br>
                        <label><input class="uk-radio" type="radio" name="radio1"> Developer</label><br>
                        <label><input class="uk-radio" type="radio" name="radio1"> Editor</label><br>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </form>

</section>

{% endblock %}
<!--  -->
{% block scripts %} {% endblock %}