<div class="uk-panel uk-panel-scrollable">
    <div class="comment uk-text-small">
        <p>this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph  </p>
        <p>this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph  </p>
        <p>this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph  </p>
        <p>this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph  </p>
    </div>
</div>