{% extends 'layout.html' %}

<!-- Block title -->
{% block title %}Notifications{% endblock %}
<!-- Block description -->
{% block description %}MagmaCore create an account{% endblock %}
<!-- Block description -->
{% block keywords %}new-account, create-new{% endblock %}
<!-- Block description -->
{% block author %}Ricardo Miller{% endblock %}

<!-- Start content header -->
{% block content_title %}<span>Create New User</span>{% endblock %}
<!-- Content tagline-->
{% block content_tagline %}{% endblock %}

<!-- start content-->
{% block content %}
<div class="container mt-4">

    {% include 'admin/user/page_nav.html' %}
    <div class="row">
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Email Notifications</div>
                <div class="card-body">
                    {{ $form }}
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card">
                <div class="card-header">Notification Perferences</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="/public/assets/images/illustrations/profiles/profile-1.png" alt />
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %} {% block js %} {% endblock %}