<div class="uk-card">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="/public/assets/images/undraw_profile_1.svg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Emma Watts</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Carried out an update on user account #1459 1 Feb, 2022 - 20:45pm. Action was successful.</time></p>
            </div>
        </div>
    </div>
</div>

<div class="uk-card">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="/public/assets/images/undraw_profile_2.svg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Jamie Paxton</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Carried out an update on user account #1459 1 Feb, 2022 - 20:45pm. Action was successful.</time></p>
            </div>
        </div>
    </div>
</div>


<div class="uk-card">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="/public/assets/images/undraw_profile_3.svg">
            </div>
            <div class="uk-width-expand">
                <span class="uk-card-title uk-margin-remove-bottom">Ricardo Miller</span>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Carried out an update on user account #1459 1 Feb, 2022 - 20:45pm. Action was successful.</time></p>
            </div>
        </div>
    </div>
</div>