<dl class="uk-description-list uk-description-list-divider">
    <dt>Chris Anthemum started following Eileen Sideways.</dt>
    <dd>
        <div><small>6 days ago at 6:18am</small></div>
        <img class="uk-border-rounded" src="/public/assets/images/undraw_profile_1.svg" width="80" height="80" alt="Border rounded">
        <img class="uk-border-rounded" src="/public/assets/images/undraw_profile_2.svg" width="80" height="80" alt="Border rounded">
        <img class="uk-border-rounded" src="/public/assets/images/undraw_profile_3.svg" width="80" height="80" alt="Border rounded">

    </dd>

    <dt>Frank Furter is now following to Ray Sin.</dt>

    <dd>
        <div><small>6 days ago at 6:18am</small></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </dd>
    <dt>Nusja Nawancali is now following to Zaham Sindilmaca.</dt>
    <dd>
        <div><small>6 days ago at 6:18am</small></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
    <dt>Frank Furter is now following to Weno Carasbong.</dt>
    <dd>
        <div><small>6 days ago at 6:18am</small></div>
        <div><img class="uk-border-rounded" src="/public/assets/images/undraw_profile.svg" width="50" height="50" alt="Border rounded"></div> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</dd>
</dl>