<ul class="uk-list uk-list-collapse uk-list-divider">
    <li>
        <ion-icon name="logo-twitter"></ion-icon> twitter.com/eileensideways</li>
    <li>
        <ion-icon name="logo-facebook"></ion-icon> facebook.com/eileen</li>
    <li>
        <ion-icon name="logo-youtube"></ion-icon> youtube.com/eileen22</li>
    <li>
        <ion-icon name="logo-linkedin"></ion-icon> linkedin.com/4ever-eileen</li>
    <li>
        <ion-icon name="logo-github"></ion-icon> github.com/codingworkshop</li>

</ul>