{% extends 'layout.html' %}

<!-- title -->
{% block title %}Edit Account{% endblock %}
<!-- description -->
{% block description %}MagmaCore edit an account{% endblock %}
<!-- keywords -->
{% block keywords %}edit-account, edit-user{% endblock %}
<!-- commander bar -->
{% block commander_bar %}{{ $commanderBar }}{% endblock %}

<!-- start content-->
{% block content %}
<section uk-grid>
    <div class="uk-width-1-2@m">
        <div>

            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <turbo-frame id="user_form">
                    </turbo-frame>
                    <turbo-stream action="update" target="flash_messages">
                        <template>
                            <div>{@ templateExtension('uikit_flash_message') @}</div>
                        </template>
                    </turbo-stream>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div>
            <div class="uk-card uk-card-body uk-padding-remove">
                <h2>Role and Permissions</h2>
                <p>
                    Choose a default role group for this user. Role group are roles with 1 or more permissions assigned. Only roles with permission are available here. If you choose no role by default the user will be assigned a subscriber role. Which only give read access.
                </p>
            </div>
        </div>
    </div>
    </form>

</section>

{% endblock %}
<!--  -->
{% block js %} {% endblock %}