<div class="uk-card-header">
  <div class="uk-grid-small uk-flex-middle" uk-grid>
    <div class="uk-width-auto ion-64">
      <ion-icon name="warning-outline"></ion-icon>
    </div>
    <div class="uk-width-expand">
      <h3 class="uk-card-title uk-text-bolder uk-margin-remove-bottom">{{ count($pendings) > 0 ? count($pendings) : 0 }} Pending</h3>
      <p class="uk-text-meta uk-margin-remove-top">
        <span>There's currently {% echo count($pendings) %} user account awaiting activation</span>
      </p>
      <div class="uk-search">
        <a href="" class="uk-search-icon-flip" uk-search-icon></a>
        <input type="search" class="uk-search-input uk-search-large uk-form-blank uk-border-bottom" onkeyup="listFilter('list_filter_pending', 'filtered_list_pending')" id="list_filter_pending" placeholder="Filter Lists..." />
      </div>

    </div>
  </div>
</div>

{% if (count($pendings) > 0) : %}
<div class="uk-card-body uk-card-warning">
  <form method="post" action="">
    {% if (isset($pendings) && count($pendings) > 0) : %}
    <ul class="uk-list uk-list-collapse uk-list-divider" id="filtered_list_pending">
      {% foreach ($pendings as $pending) : %}
      <li>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand" uk-leader>{{ $pending['firstname'] . ' ' . $pending['lastname'] }}</div>
          <div>
            <a class="ion-18" href="/admin/user/{{ $pending['id'] }}/edit" class="uk-reset-link" uk-tooltip="Edit Account"><ion-icon name="pencil-outline"></ion-icon></a>
            <a class="ion-18" href="/admin/user/{{ $pending['id'] }}/active" class="uk-reset-link" uk-tooltip="Make Active"><ion-icon name="checkmark-outline"></ion-icon></a>
            <a class="ion-18" uk-tooltip="Resend Email" class="uk-reset-link" href="/admin/user/{{ $pending['id'] }}/unlock"><ion-icon name="send-outline"></ion-icon></a>
          </div>
          <input type="hidden" name="user_id[]" value="{{ $pending['id'] }}"/>
        </div>

      </li>
      {% endforeach %}
    </ul>
    {% endif %}

    <div class="uk-margin">
      <input class="uk-button uk-button-danger" type="submit" name="bulk-active" value="Activate All">
    </div>
  </form>
</div>
{% endif %}