{% extends 'layout.html' %} {% block title %}Edit Role{% endblock %} {% block description %}MagmaCore edit role{% endblock %} {% block keywords %}edit-role{% endblock %}

<!-- start content-->
{% block content %}
<section uk-grid class="uk-height-viewport">
    <div class="uk-width-expand@m">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    {{ $form }}
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
<!--  -->
{% block scripts %}
<script>
</script>

{% endblock %}