<!DOCTYPE html>
<html lang="{{ $app['settings']['default_locale'] }}">

<head>
    <title>{% yield title %}</title>
    <meta charset="{{ $app['settings']['default_charset'] }}">
    <meta name="description" content="{% yield description %}">
    <meta name="keywords" content="{% yield keywords %}">
    <meta name="author" content="{% yield author %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="turbo-root" content="/">
    <!-- Header Css -->
    {@ addcss() @}
    <!-- Header JS -->
    {@ addjs([], 'header') @}
    <!-- Page Specific Css -->
    {% yield styles %}
</head>

<body class="uk-text-bold uk-text-emphasis">
    <div>
        {% include '_partials/_nav_header.html' %}
        <div id="sidebar" class="tm-sidebar-left uk-background-default">
            {% include '_partials/_sidebar_profile.html' %}
            <!-- Main sidebar -->
            {% include '_partials/_sidebar.html' %}
        </div>
        <div class="content-padder content-background">
            <div class="uk-section-default header">
                <div class="uk-container uk-container-large">
                    <!--  -->
                    {% if ($current_user !==null) : %}
                    <!--  -->
                    {@ templateExtension('uikit_commander_bar') @}
                    <!--  -->
                    {% endif; %} {% yield dashboard_commander %}
                </div>
            </div>
            <div class="uk-section-small">
                <div class="uk-container uk-container-large">
                    <div id="flash_messages"></div>
                    <!--  -->
                    {% yield content %}
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Js -->
    {@ addjs() @}
    <!-- Page specific scripts -->
    {% yield scripts %}
</body>

</html>