<!DOCTYPE html>
<html lang="{{ (isset($app) ? $app['settings']['default_locale'] : null) }}">

<head>
    <title>{% yield title %}</title>
    <meta charset="{{ (isset($app) ? $app['settings']['default_charset'] : null) }}">
    <meta name="description" content="{% yield description %}">
    <meta name="keywords" content="{% yield keywords %}">
    <meta name="author" content="{% yield author %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {@ addcss() @} 
    {@ addjs([], 'header') @} 
    {% yield styles %}
    <style>.badge-secondary {background-color:#222222;}</style>
    <script>$(window).on("load", function() {$(".preloader").fadeOut("slow");;});</script>
    <script>$("#flash_message").fadeOut(5000);</script>

</head>

<body class="uk-text-bold">
    {% include 'loader.html' %}

    <div>
        {% include '_global/_block_header.html' %}
        {% include '_global/_block_sidebar.html' %}
        {% include '_global/_block_content.html' %}
    </div>

    {@ getWidget('notification_widget', 'notifications', 'id', ['id' => 'notification-panel', 'limit' => 3, 'orderby' => 'id DESC']) @}

    {@ addjs() @} 
    {% yield scripts %}

</body>
</html>