<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    {% include '_partials/_nav_search.html' %}
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        {% include '_partials/_nav_dropdown_mobile_search.html' %}
        <!-- Nav Item - Alerts -->
        {% include '_partials/_nav_dropdown_locale.html' %}

        <!-- Nav Item - Alerts -->
        {% include '_partials/_nav_dropdown_alerts.html' %}
        <!-- Nav Item - Messages -->
        {% include '_partials/_nav_dropdown_messages.html' %}

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        {% include '_partials/_nav_dropdown_profile.html' %}
    </ul>

</nav>