{% extends 'base.html.twig' %}

{% set _profile_index = '/profile/account/index' %}
{% set profile_nav %}
{% include 'client/profile/profile_menu.html.twig' %}
{% endset %}

{% block content_title %}
	My Account
{% endblock content_title %}

{% block main %}
	<div>
		<div uk-grid>
			<div class="uk-width-auto@m">
				{{ profile_nav }}
			</div>
			<div class="uk-width-expand@m">
				<ul id="component-tab-left" class="uk-switcher">
					<li>
						<h1 class="uk-heading-small">Edit Password</h1>
						<p>Passwords need to include...</p>
						<p>
							<ul>
								<li>8 or more characters</li>
								<li>At least 1 letter</li>
								<li>At least 1 number</li>
							</ul>
						</p>
						{{ formPassword|raw }}
						<a class="uk-button uk-button-text uk-text-primary" href="{{ _profile_index }}">Cancel</a>
					</li>
					<li>{% include '/client/profile/profile_history.html.twig' %}</li>
					<li>{% include '/client/profile/profile_cookies.html.twig' %}</li>
					<li>{% include '/client/profile/profile_settings.html.twig' %}</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock main %}
