{% set navs = {
    personal_details: {title: 'Personal Details', path: '#'},
    your_history: {title: 'Your History', path: '#'},
    privacy: {title: 'Privacy', path: '#'},
    settings: {title: 'Settings', path: '#'}

} %}
<ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">

	{% for index, nav in navs %}
		<li>
			<a href="{{ nav.path }}">{{ nav.title }}</a>
		</li>

	{% endfor %}
</ul>
