<h3>Privacy and cookies</h3>
<p>This page lets you control how we use your info, and whether we can track how you use the BBC. We use this information to give you a more personal experience.</p>

<h3>Personalisation settings</h3>
Allow personalisation


This makes the BBC more relevant and personal to you. For instance, when it's on you can:

Get personalised newsletters and recommendations about things we think you'll like
Pick up where you left off with programmes you're part way through
Don't worry, if you turn it off you'll still be able to add and love things, and get notifications about them.

Just so you know, we're still improving this feature. So turning it off currently affects different parts of the BBC in different ways.

Find out more about personalisation

Allow social network recommendations


This means we can share some data securely with social media sites to make sponsored BBC recommendations relevant to you.

If you turn this off, you might still see BBC posts, but they won't be personalised using your BBC account data.

Find out more about social network recommendations

<h3>Cookies settings</h3>
<p>Some cookies are essential for the BBC website to work. Others help us give you a better, more personal BBC.</p>

<p>
<a href="" class="uk-button uk-button-text uk-text-danger uk-text-bolder">Change my cookie settings</a>
</p>